<h1>My lists</h1>

<% @lists.each do |list| %>
<li><%= list.name %></li>
<% if list.photo.attached? %>
  <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<% end %>

<%# iterate over and have a list in it %>
